AWS_IOT_ENDPOINT=xxxxxxxxxxxxxx-ats.iot.ap-south-1.amazonaws.com
AWS_IOT_CLIENT_ID=freshguard-simulator-cold-room-01
AWS_IOT_TOPIC=freshguard/dev/devices/cold-room-01/telemetry
AWS_IOT_CERT_PATH=../.simulator-certs/device.pem.crt
AWS_IOT_PRIVATE_KEY_PATH=../.simulator-certs/private.pem.key
AWS_IOT_ROOT_CA_PATH=../.simulator-certs/AmazonRootCA1.pem
DEVICE_ID=cold-room-01
TICK_SECONDS=2
